.note-item {
    display: block;
    margin-bottom: 10px;
    list-style-type: none;
}

/* Apply some basic styles to the textarea */
textarea {
    width: 100%;
    height: 150px;
    /* Adjust height as needed */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    resize: vertical;
    /* Allow vertical resizing */
}

/* Add some focus styles */
textarea:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}

#colorBar {
    display: inline-block;
    width: 100%;
    height: 20px;
    margin-right: 10px;
}

#colorBar::before {
    content: "";
    display: block;
    height: 100%;
}