.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--base-light);

    .svg-icon {
        width: 24px;
        height: 24px;
        color: var(--base-dark);
        fill: var(--base-light);
    }

}


.note-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    list-style-type: none;
}

.container-div {
    display: flex;
    justify-content: space-between;
}

textarea {
    flex: 1;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    resize: none;
    min-height: 50px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* disable vertical scrollbar */
    overflow-y: hidden;
}

textarea:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}